@font-face {
  font-family: 'AgoraSansProUltraBlack';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/AgoraSansProUltraBlack.woff') format('woff');
}

@font-face {
  font-family: 'AgoraSansProBold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/AgoraSansProBold.woff') format('woff');
}

@font-face {
  font-family: 'AgoraSansProRegular';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/AgoraSansProRegular.woff') format('woff');
}

@font-face {
  font-family: 'AgoraSansProLight';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/AgoraSansProLight.woff') format('woff');
}

@font-face {
  font-family: 'AgoraSansProThin';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/AgoraSansProThin.woff') format('woff');
}

@font-face {
  font-family: 'AgoraSansProXThin';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/AgoraSansProXThin.woff') format('woff');
}


body {
  width: 1520px;
  font-family: 'AgoraSansProRegular', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.main-logo {
  width: 162px;
  height: 19px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header nav {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  display: block;
  margin-top: 5px;
  margin-left: 155px;
}

.hamburger-menu:hover svg,
.hamburger-menu:focus svg {
  fill: #e11a27;
}

.main-logo {
  margin-left: 68px;
}

.user-block {
  margin-right: 160px;
}

.user-block:hover svg,
.user-block:focus svg {
  fill: #e11a27;
}

.phone {
  font-family: 'AgoraSansProLight', 'Arial', sans-serif;
  font-size: 16px;
  padding: 10px 40px;
  color: #000000;
  background-color: #ffd200;
  border-radius: 10px;
  margin-right: 55px;
  margin-left: auto;
  position: relative;
}

.phone::after {
  content: '';
  border-bottom:  1px dashed black;
  width: 80%;
  height: 0;
  position: absolute;
  top: 30px;
}


.button {
  display: block;
  text-decoration: none;
  font-family: 'AgoraSansProThin', 'Arial', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 26px;
  text-transform: uppercase;
  padding: 20px 38px;
  border-radius: 10px;
}

.light-button {
  background-color: transparent;
  border: 1px solid #000000;
  color: #000000;
}

.light-button:hover,
.light-button:focus,
.light-button:active {
  opacity: 0.5;
}

.red-button {
  background-color: #e11a27;
  color: #ffffff;
  box-shadow: 0 0 2px #990000;
}

.red-button:hover {
	background: linear-gradient(to top, #f26843,#f58669)
}

.red-button:active,
 .red-button:focus {
	background: linear-gradient(to top, #e1603e,#d84732);
	box-shadow: 0 0 2px #942718 inset;
}


.main-banner {
  min-height: 550px;
  background-image: url('../img/main-banner.jpg');
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main-header {
  font-family: 'AgoraSansProXThin', Arial, sans-serif;
  font-size: 50px;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.main-header::first-letter {
  font-size: 60px;
}

.main-banner .main-header {
  padding-top: 50px;
  padding-bottom: 5px;
}

.main-banner h2 {
  font-family: 'AgoraSansProLight', 'Arial', sans-serif;
  font-size: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
}

.main-banner .button {
  align-self: center;
}

.steps {
  padding-top: 55px;
  margin-bottom: 90px;
}

.steps-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.step-item {
  width: 140px;
}

.steps-list li:first-child .step-icon::after {
  display: none;
}


.step-icon {
  width: 133px;
  height: 133px;
  border: 5px solid #ffd200;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
}

.step-icon::after {
  content: '';
  display: block;
  position: relative;
  border-bottom: 5px dashed #ffd200;
  top: 50%;
  left: -100%;
}

.download-icon {
  background-image: url('../img/photobook-1.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.design-icon {
  background-image: url('../img/photobook-2.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.pay-icon {
  background-image: url('../img/photobook-3.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.get-icon {
  background-image: url('../img/photobook-4.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.step-name {
  font-family: 'AgoraSansProLight';
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantage {
  text-align: center;
  background-color: #f3f0e7;
}

.advantage .main-header {
  padding: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
}

.advantage-name {
  font-family: 'AgoraSansProLight', Arial, sans-serif;
  font-size: 24px;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 15px;
}

.advantage-info {
  font-family: 'AgoraSansProLight', Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.advantage-list {
  list-style: none;
  margin: 0;
  margin-bottom: 85px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.advantage-item {
  width: 275px;
}

.advantage .button {
  align-self: center;
  margin-bottom: 75px;
}

.solutions {
  margin-bottom: 115px;
}

.solutions .main-header {
  align-self: center;
  padding-top: 60px;
  margin-bottom: 65px;
}

.solutions-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

}

.solution {
  width: 314px;
  background-color: #ffd200;
  color: #000000;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.solution:hover {
  transform: scale(1.1);
  transition: transform 0.8s ease-in-out;
}

.bestseller::before {
  content: 'bestseller';
  font-family: 'AgoraSansProUltraBlack';
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  color: transparent;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 12px 0 #e11a27;
  height: 0;
  width: 150px;
  border-bottom: 25px solid #ffd200;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  position: absolute;
  top: -25px;
  left: 54px;
}

.solution-title {
  flex: 0 0 auto;
  margin: 0;
  padding: 40px 0px;
  font-size: 36px;
  text-align: center;
}

.solution-content {
  flex: 1 0 auto;
  width: 303px;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.content-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
}

.content-item {
  font-size: 18px;
  line-height: 30px;
  padding-left: 40px;
  position: relative;
}

.content-item::before {
  content: '';
  width: 22px;
  height: 22px;
  position: absolute;
  top: 5px;
  left: 0px;
  background-image: url('../img/checklist-icon.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}


.price {
  margin: 0;
  margin-top: auto;
  padding: 0;
  font-family: 'AgoraSansProXThin', Arial, sans-serif;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
}

.solution-footer {
  flex: 0 0 auto;
  text-align: center;
  margin: 0;
  padding: 15px 0;
}

.solution-footer a {
  font-family: 'AgoraSansProLight', Arial, sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #000000;
}

.solution-footer a:hover,
.solution-footer a:active,
.solution-footer a:focus {
  text-decoration: underline;
}



.testimonials {
  min-height: 765px;
  background-image: url('../img/testimonials-banner.jpg');
  margin-bottom:  94px;
}

.testimonials .container {
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  margin-left: 220px;
}

.testimonials .main-header {
  padding: 0;
  padding-top: 35px;
  padding-bottom: 40px;
  margin: 0;
}

.reviewer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: 'AgoraSansProLight', 'Arial', sans-serif;
}

.reviewer-img {
  width: 158px;
  height: 158px;
  padding: 0;
  margin-right: 30px;
}

.reviewer-name {
  font-size: 30px;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}

.reviewer-profession {
  padding: 0;
  margin: 0;
}

.review {
  line-height: 23px;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}

.review p {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.testimonial-link {
  display: block;
  align-self: flex-end;
  font-family: 'AgoraSansProThin', 'Arial', sans-serif;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 110px;
  padding-right: 35px;
  position: relative;
}

.testimonial-link::after {
  content: '';
  width: 26px;
  height: 8px;
  background-image: url('../img/arrow.png');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  right: 0px;
}

.testimonial-link:hover,
.testimonial-link:active {
  text-decoration: underline;
}


.testimonials .button {
  align-self: center;
}


.terms  {
  margin-bottom: 120px;
}

.terms .button {
  align-self: center;
}

.terms-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.terms-item {
  width: 314px;
  display: flex;
  flex-direction: column;
}

.terms-title {
  flex: 0 0 auto;
  font-size: 36px;
  text-align: center;
  margin: 0;
  padding: 15px 0;
  background-color: #ffd200;
  color: #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 5px solid white;
}

.terms-info {
  flex: 1 0 auto;
  background-color: #f7f0e6;
  color: #000000;
  font-size: 18px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px 35px;
  padding-bottom: 40px;
}

.terms-info p {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.terms-info ul {
  list-style-type: disc;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  padding-left: 15px;
  margin-left: 10px;
}

.terms-info-important {
  font-family: 'AgoraSansProBold', 'Arial', sans-serif;
  color: #e11a27;
}

footer  {
  background-color: #ffd200;
  padding-top: 50px;
}

.footer-links {
  display: flex;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links a {
  text-decoration: none;
  color: #000000;
}

.footer-links a:hover,
.footer-links a:active {
  text-decoration: underline;
}


.footer-links section {
  width: 155px;
  line-height: 33px;
  padding-top: 20px;
  border-top: 1.5px solid #000000;
  margin-right: 75px;
}

.footer-links section:last-of-type {
  margin-right: 0;
}


.social {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.social-button {
  font-size: 0;
  text-decoration: none;
  width: 28px;
  height: 28px;

  padding: 0;
  padding-top: 10px;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 45px;
}

.social-button:hover path {
  fill: #e11a27;
}

.copyright {
  align-self: center;
  padding-bottom: 55px;
}
